.calc-holder {
  display: flex;
  justify-content: space-between;
  padding: 0 5rem;
  margin-top: 2rem;
}

.calculator {
  width: 500px;
}

.sub-title {
  font-size: 26px;
  color: palevioletred;
}

.sub-title:hover {
  font-size: 30px;
  color: rgb(182, 17, 174);
}
