@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");

.quote-section {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 40px;
  padding: 10%;
  background-image: url(../imgs/quote.png);
  background-repeat: no-repeat;
  background-size: 160px;
}

.quote {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  text-align: center;
  line-height: 56px;
  font-style: italic;
  color: #a035a3;
  font-family: "Playfair Display", serif;
}

.line {
  height: 4px;
  background-color: #f116c2;
  width: 30%;
  align-self: center;
}
