.container {
  border: 2px solid black;
  width: 500px;
  height: 500px;
  margin: auto;
  margin-top: 1%;
  border-collapse: collapse;
  box-shadow: #e00fa1 0 20px 30px -10px;
}

.table {
  border: 1px solid lightgrey;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.Input {
  text-align: right;
  padding: 10px;
  padding-right: 40px;
  background-color: grey;
  color: white;
  font-weight: 600;
  font-size: 18px;
}

.pink {
  background-color: pink;
}

.btn {
  border: none;
  background-color: transparent;
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
  opacity: 0.6;
  cursor: pointer;
}

@media only screen and (max-width: 924px) {
  .container {
    position: relative;
    margin: auto;
    margin-top: 5%;
    height: 100px;
    width: 300px;
    top: auto;
    left: auto;
    overflow: hidden;
  }
}
